# PATH TO `spectate_match.json`
INPUT_FILE = "C:\Users\{USERNAME}\AppData\Roaming\PrismLauncher\instances\{INSTANCE_NAME}\minecraft\mcsrranked\spectate_match.json"

PORT = "1234" # Configure port if in use. If its changed, change the default url to use this port in `overlay.js`
OVERLAY_PLAYER_LIMIT=5 # Number of players shown
CHAMP=0 # Set to 1 to enable 1v1 Champ mode